<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.mapper.HeatDistrictMapper">

    <select id="selectQua" resultType="com.huang.entity.HeatDistrict">
           select *
           from yunchun.heat_district
           where province=#{province} and city=#{city} and county=#{county};
    </select>
    <select id="selectDisByPr" resultType="com.huang.entity.HeatDistrict">
        select *
        from yunchun.heat_district
        where province=#{province};
    </select>
    <select id="selectDisByCi" resultType="com.huang.entity.HeatDistrict">
        select *
        from yunchun.heat_district
        where province=#{province} and city=#{city};
    </select>

</mapper>