<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.mapper.ReviewRequestMapper">

    <select id="selectReviewInformation" resultType="com.huang.entity.ReviewRequest">
        select *
        from yunchun.review_request
        where index_no!='0';
    </select>
    <select id="selectOne" resultType="com.huang.entity.ReviewRequest">
        select *
        from yunchun.review_request
        where id=#{id};
    </select>

    <update id="setContract" parameterType="com.huang.entity.Contract">
        update  yunchun.salesman_contract
        set tag = 1,reviewer_no = #{reviewerNo}
        where tag=0 and contract_no=#{contractNo};
    </update>

    <delete id="deleteContractProduct">
        delete from yunchun.contract_product
        where tag=0 and contract_no=#{contractNo};
    </delete>

    <delete id="deleteContract">
        delete from yunchun.salesman_contract
        where tag=0 and contract_no=#{contractNo};
    </delete>

    <update id="upDateContractHistory">
        update  yunchun.contract_history
        <set>
            <if test="#{reviewBy}!=null">
                review_by = #{reviewBy}
            </if>
        </set>
        <where>
            id= #{id}
        </where>
    </update>

</mapper>