<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.mapper.SalesmanMapper">

    <select id="selectProduct" resultType="com.huang.entity.ProductInformation">
        select *
        from yunchun.product_information
        <!-- where productable=#{1}; -->
    </select>
    <select id="selectEmployeeInformation" resultType="com.huang.entity.User">
        select *
        from yunchun.sys_user
        where username=#{employeeNo};
    </select>
    <select id="selectOneProduct" resultType="com.huang.entity.ProductInformation">
        select *
        from yunchun.product_information
        where product_no=#{productNo};
    </select>
    <select id="selectContractById" resultType="com.huang.entity.Contract">
        select *
        from yunchun.salesman_contract
        where id=#{id};
    </select>
    <select id="selectContractHistory" resultType="com.huang.entity.ContractHistory">
        select *
        from yunchun.contract_history
    </select>
    <delete id="deleteByContractNumber">
        delete from yunchun.salesman_contract
        where contract_no=#{contractNumber};
    </delete>
    <insert id="insertContractHistory" parameterType="com.huang.entity.ContractHistory" >
        insert into yunchun.contract_history(contract_no,modify_time,modify_by,review_by)
        VALUES(#{contractNo},#{modifyTime},#{modifyBy},#{reviewBy});
    </insert>
    <delete id="deletePayPlanByContractNumber">
        delete from yunchun.pay_plan
        where contract_no=#{contractNumber};
    </delete>
    <select id="selectContractByContactNo" resultType="com.huang.entity.Contract">
        select *
        from yunchun.salesman_contract
        where contract_no=#{contractNumber};
    </select>
    <insert id="insertContractProduct" parameterType="com.huang.entity.ContractProduct" >
        insert into yunchun.contract_product(contract_no,product_no,product_number)
        VALUES(#{contractNo},#{productNo},#{productNumber});
    </insert>
    <select id="selectAllContract" resultType="com.huang.entity.Contract">
        select *
        from yunchun.salesman_contract
        where tag=1;
    </select>
    <select id="selectContractProductByContractNo" resultType="com.huang.entity.ContractProduct">
        select *
        from yunchun.contract_product
        where tag=1 and contract_no=#{contractNo};
    </select>

</mapper>