<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.mapper.SalesmanMapper">

    <select id="selectProduct" resultType="com.huang.entity.ProductInformation">
        select *
        from yunchun.product_information
        <!-- where productable=#{1}; -->
    </select>
    <select id="selectEmployeeInformation" resultType="com.huang.entity.User">
        select *
        from yunchun.sys_user
        where username=#{employeeNo};
    </select>
    <select id="selectOneProduct" resultType="com.huang.entity.ProductInformation">
        select *
        from yunchun.product_information
        where product_no=#{productNo};
    </select>
    <select id="selectContractById" resultType="com.huang.entity.Contract">
        select *
        from yunchun.contract_information
        where id=#{id};
    </select>
    <select id="selectContractHistory" resultType="com.huang.entity.ContractHistory">
        select *
        from yunchun.contract_history
    </select>
    <delete id="deleteByContractNumber">
        delete from yunchun.contract_information
        where contract_no=#{contractNumber};
    </delete>
    <insert id="insertContractHistory" parameterType="com.huang.entity.ContractHistory" useGeneratedKeys="true" keyProperty="id">
        insert into yunchun.contract_history(contract_no,modify_time,modify_by,review_by,remark)
        VALUES(#{contractNo},#{modifyTime},#{modifyBy},#{reviewBy},#{remark});
    </insert>
    <select id="selectAllContract" resultType="com.huang.entity.Contract">
        select *
        from yunchun.contract_information
    </select>
    <select id="selectContractInformationByEmployeeNo" resultType="com.huang.entity.Contract">
        select *
        from yunchun.contract_information
        where employee_no=#{employeeNo};
    </select>
    <select id="selectTaxRate" resultType="com.huang.entity.SysSettings">
        select *
        from yunchun.sys_settings
    </select>
    <insert id="insertPayReturn" parameterType="com.huang.entity.PayReturn" useGeneratedKeys="true" keyProperty="id">
        insert into yunchun.pay_return(update_time,amount,type,contract_id,status)
        VALUES(#{updateTime},#{amount},#{type},#{contractId},#{status});
    </insert>
    <update id="updatePayReturn" parameterType="com.huang.entity.PayReturn">
        update  yunchun.pay_return
        set status=#{status}
        where id=#{id};
    </update>
    <select id="selectPayReturn" resultType="com.huang.entity.PayReturn">
        select *
        from yunchun.pay_return
    </select>
    <select id="selectPayReturnById" resultType="com.huang.entity.PayReturn">
        select *
        from yunchun.pay_return
        where id=#{id};
    </select>


</mapper>